<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestao Academico..login</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/7ca0a381a3.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div class="login-form">
        <div class="container">
            <div class="main-div">
                <div class="texto-header">
                    <h3>Login admin</h3>
                    <p>Informe seus dados para entrar no sistema</p>
                </div>

                <form action="/login" method="post" th:object="${usuario}">

                    <div class="alert alert-danger" role="alert" th:if="${msg}">
                        <strong th:text="${msg}"></strong>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Usuario" th:field="*{login}">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Senha" th:field="*{senha}">
                    </div>

                    <div class="cadastro">
                        <a th:href="@{/cadastro}">Nao tem cadastro? Clique aqui.</a>
                    </div>

                    <button type="submit" class="btn btn-primary">Login</button>
                    <button type="button" class="btn btn-info">Voltar</button>
                </form>
            </div>
        </div>
    </div>


    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>