<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhe Aluno</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/7ca0a381a3.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body th:object="${aluno}">
    <div th:replace="fragmentos/fragmentos :: cabecalho"></div>

    <div class="container main-form">
        <h5><span th:text="*{nome}"></span></h5>

        <br>
        <table class="table table">
            <thead>
                <tr>
                    <td>CPF</td>
                    <td>NOME</td>
                    <td>F. NASCIMENTO</td>
                    <td>GENERO</td>
                    <td>MATRICULA</td>
                    <td>CURSO</td>
                    <td>DATA MATRICULA</td>
                    <td>TURNO</td>
                    <td>STATUS</td>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td><span th:text="*{cpf}"></span></td>
                    <td><span th:text="*{nome}"></span></td>
                    <td><span th:text="*{nascimento}"></span></td>
                    <td><span th:text="*{genero}"></span></td>
                    <td><span th:text="*{matricula}"></span></td>
                    <td><span th:text="*{curso}"></span></td>
                    <td><span th:text="*{dataCadastro}"></span></td>
                    <td><span th:text="*{turno}"></span></td>
                    <td><span th:text="*{status}"></span></td>
                </tr>
            </tbody>
        </table>
        <div class="row offset-md-5">
            <button type="button" class="btn btn-success">SALVAR</button> &nbsp;&nbsp;&nbsp;
            <a type="button" th:href="@{/aluno/listAluno}" class="btn btn-outline-primary">CANCELAR</a>
        </div>
    </div>

    <div th:replace="fragmentos/fragmentos :: rodape"></div>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>

</html>