<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestao Academico</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/7ca0a381a3.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <div th:replace="fragmentos/fragmentos :: cabecalho"></div>
    <!-- <div class="contraste"></div> -->

    <section class="neo-section">
        <div class="contraste"></div>
        <div class="neo-container">
            <h1 class="texto-index">Sistema de gerenciamento academico</h1>

            <div class="botons">
                <div class="wm">
                    <div class="btn btn-principal"> <a th:href="@{/inserirAluno}"> Cadastrar Aluno</a></div>
                </div>
                <div class="wm">
                    <div class="btn btn-principal"><a data-toggle="modal" data-target="#modal-peaquisa" href="#"> Pesquisar Aluno </a> </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>
    </section>

    <div class="modal fade" id="modal-peaquisa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Peaquisa de aluno</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>

                <form action="/pesquisar-aluno" method="post" th:object="${aluno}">
                    <div class="modal-body">
                        <input type="text" th:field="*{cpf}" placeholder="Dicige o CPF do aluno" class="form-control">
                    </div>


                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-success">Pesquisar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div th:replace="fragmentos/fragmentos :: rodape"></div>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>